#blog{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}


#blog__loadingspinner{
    display:none;
    flex-direction: column;
    position: absolute;
    width:57px;
    top:30%;
    left:50%;
    margin-right:28.5px;
    z-index: 1;

    img:first-of-type{
      height: 92px;
    }

    img:last-of-type{
      height: 57px;
    }
  }

#blog__iframe {
  // -webkit-animation-duration: 3s;
  // -moz-animation-duration: 3s;
  // -ms-animation-duration: 3s;
  // -o-animation-duration: 3s;
  // -webkit-animation-delay: 4s;
  // -moz-animation-delay: 4s;
  // -ms-animation-delay: 4s;
  // -o-animation-delay: 4s;
  // -webkit-animation-iteration-count: infinite;
  // -moz-animation-iteration-count: infinite;
  // -ms-animation-iteration-count: infinite;
  // -o-animation-iteration-count: infinite;
  overflow: hidden;
  scrolling: no;
}
