.btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 // border-radius:3px;
 
}

.btn--size--25{
  @include font-size(25px)
}

.btn--size--20{
  @include font-size(20px)
}

.btn--size--15{
  @include font-size(15px)
}

.btn--size--10{
  @include font-size(10px)
}

.btn--opensans{
   font-family: 'Open Sans Condensed Light';
}



.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}

.btn-red {
   @include button-bg(#e74c3c);
}



.btn--clear {
  @extend .brdr-minimal;
  border-color: white;
}

.btn--clear--plain {
  @extend .brdr-minimal;
  border-color: white;
}

.btn--clear:hover {
  @extend .brdr-minimal;
  border-color: $rgb-orange;
  color: $rgb-orange;
  /* border-color: #f6f1ed; */
}



.btn--nav {
  @extend .btn--clear; // With or without?

  position: relative;
  color: white;
  text-decoration: none;
}

.btn--nav:hover {
  color: white;
}

.btn--nav:before{
  content: "";
  position: absolute;
  width: 80%; //was 100%
  height: 3px; 
  bottom: 0;
  top: 30px; //was 34px
  left: 10%; //was 0
  background-color: $rgb-orange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.btn--nav:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.btn--nav--2 {
  @extend .btn--clear; 
  position: relative;
  color: white;
  text-decoration: none;
  border-radius: initial;
}

.btn--nav--2:hover {
  color: white;
}

.btn--nav--2:before{
  content: "";
  position: absolute;
  width: 100%; //was 100%
  height: 3px; 
  bottom: 0;
  top: 38px; //was 34px
  left: 0; //was 0
  background-color: $rgb-orange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s; //was 0.3
  transition: all 0.2s ease-in-out 0s;
}

.btn--nav--2:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.btn--nav--3 {
  position: relative;
  color: white;
  text-decoration: none;
}

.btn--nav--3:hover {
  color: white;
}

.btn--nav--3:before{
  content: "";
  position: absolute;
  width: 100%; //was 100%
  height: 3px; 
  bottom: 0;
  // top: 34px; //was 34px
  left: 0; //was 0
  background-color: $rgb-orange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.btn--nav--3:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btn--nav:active {
  border-bottom: 2px solid white;
}

//btn active needs to have a white underline or the same effect but then static as when I hover over it

.btn--footer {
  @extend .btn--clear; 
  position: relative;
  color: white;
  text-decoration: none;
  border-radius: initial;
}




// Graveyard
  .btn--nav--4 {
    @extend .btn--clear; // With or without?

    position: relative;
    color: white;
    text-decoration: none;
    border-radius: initial;
  }

  .btn--nav--5 {
    @extend .btn--clear--plain; // With or without?

    position: relative;
    color: white;
    text-decoration: none;
  }


