.clear { clear: both; }
.section{display:flex;}

#section__contact{
  background: $rgb-footer;
  /* min-height: 330px; */
  margin-top: 100px;
  border-top: 20px solid $rgb-orange;
  width:100%;

    p{
    color: white;
  }

  // .section{
  //   justify-content: initial;
  // }

}

#footer{
  width:100%;
  display: flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content: space-between;
  position: relative;
  font-family: "Montserrat-Light";
  // flex-basis: auto;
  
  // height:200px; //"100%" (% instead of px) kills Chrome. Silly browser.

}
.typo--light{

  // @include font-size(15px)
  

  // font-family: "Vollkorn-Regular";
}

#footer__flexcontactform{
  
  margin-top:40px; //6% (% instead of px) kills Chrome. Silly browser.


  display:flex;
  position:relative;

  flex-direction: column;
  width: 40%;

  margin-left: 9.63%;
  
  margin-bottom:150px;

  border-top:2px solid $rgb-orange;

  // margin-left: 9.5%;
  // height:100%;

  // p:first-child{
  //   margin-top:2%;
  // }
  // 
  .footer__left__underscore{
    display: flex;
    justify-content: center
  }

  .typo--light{
    color: $rgb-grey--light;
  }



  #contact__languages{
    display: flex;
    direction: row;
    justify-content: center;

    position: absolute;
    right:0px;
    bottom:58px;

    .twk-padleftreset{
      padding-left:initial;
    }

    .twk-padrightreset{
      padding-right:initial;
    }

    h2{
      padding: 3px;
    }

    h2:last-of-type{
      padding-right: 0px;
    }


    .flag-icon{
      border: solid 1px black;
    }

    .flag-icon-limb{
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      width: 1.53333em; // 1.33333em; // 1.59em;
      line-height: 1.00725em; //1.030725em;
    }
  }

  .fx-underline--orange:hover {
    // color: $rgb-blue;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
  }

  #flexcontactform__forminner{
    margin-top: 9px;

    #forminner__namecontainer{
    }

    #forminner__fromcontainer{
    }

    #forminner__messagecontainer{
    }

    // ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    //   text-indent: 5px;
    // }

    // ::-moz-placeholder { /* Firefox 19+ */
    //   text-indent: 5px;
    // }

    // :-ms-input-placeholder { /* IE 10+ */
    //   text-indent: 5px;
    // }

    // :-moz-placeholder { /* Firefox 18- */
    //   text-indent: 5px;
    // }

    textarea {
      text-indent: 5px;
    }


    #footer__form__name{
      margin-top:0px;
      // width:350px; //254
      width:99.7%;
      resize:none;
      overflow:hidden;
      font-family: "Montserrat-Light";
      @include font-size(12px);
      // height:20px;
      background-color: white;
      overflow-y: hidden; /* prevents scroll bar flash */
      padding-top: 0.5em;
      padding-bottom: 0.5em; /* prevents text jump on Enter keypress */
      border:none;
    }


    #footer__form__from{
      margin-top:1px;
      // width:350px;
      width:99.7%;
      resize:none;
      overflow:hidden;
      font-family: "Montserrat-Light";
      @include font-size(12px);
      // height:20px;
      background-color: white;
      overflow-y: hidden; /* prevents scroll bar flash */
      padding-top: 0.5em;
      padding-bottom: 0.5em; /* prevents text jump on Enter keypress */
      border:none;
    }

    #footer__form__message{
      // min-height:30px;
      // min-width:256px;
      // margin-top:1px;
      
      margin-top:1px;
      // width:350px;
      width:99.7%;
      resize:none;
      overflow:hidden;
      font-family: "Montserrat-Light";
      @include font-size(12px);
      height:30px;
      background-color: white;

      overflow-y: hidden; /* prevents scroll bar flash */
      padding-top: 1.1em; /* prevents text jump on Enter keypress */
      margin-top:20px;
      // padding-bottom: 10px;
      border:none;
    }
  }

  .btn--footer{
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    margin-top:10px;
    margin-bottom:25px;

  }
}




#footer__flexcopyright{

border-top:2px solid $rgb-orange;

margin-top:40px; //6% (% instead of px) kills Chrome. Silly browser.

width:277px;
display:flex;

flex-direction: column;

position:absolute;
right: 9.63%;


margin-bottom:150px;


  #footer__socialcontainer{
    position: relative;
    right:0%;
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
  }

  #footer__social{
    height:40px;
    margin-top: 3px; //was 40%, for left 8%

    width:70px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;


      a{
        margin-left:4px;
        margin-right: 4px;
        color: white;
      }

      a:hover{
        color: $rgb-orange;
      }
      
      a:first-child{
        margin-left: initial;
        margin-right: 4px;
      }
  }


  #footer__copyright{
    display: flex;
    margin-top:20px;

    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;

      
      .typo--tiny{
       line-height: 8px;
      }
  }
}



/* Graveyard */
  #footer__rocket{
        display: flex;

      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position:absolute;
          bottom:10.5%; //was 10.5%
          width: 27%;

      .fa-rocket{
        // margin-top: 230px;
        @include opacity(0.15);
      }

      .fa-rocket:hover{
        color: $rgb-blue--light;
        @include opacity(1);
      }
  }
