#section__info{

    .typo--light{
      @include font-size(12px)
      font-weight: initial;
    }


  img{
    margin-bottom: 10px;
    
  }

  h1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top:200px;
    width:300px;
    margin-left: auto;
    margin-right: auto;

    z-index: 1;
    @include font-size(50px);
  }


    #info__tree__vertical{
    width:5px;
    height:140px;

    margin-left: auto; //Center first
    margin-right:auto;
    
    position: relative; //Then start moving, neat
    
    bottom:29px;
   
    
    background-color: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    line-height: 1em;
    z-index: 1;
  }

    #info__tree__vertical--smile{
    height:45px;
    width:5px;

    margin-left: auto; //Center first
    margin-right:auto;
    
    position: relative; //Then start moving, neat
    
    bottom:151%;

    background: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block; //In order for this to work, they have to be display: block;
    line-height: 1em;
  }

  #info__tree__vertical--html{
    height:24px;
    width:5px;

    margin-left: auto; //Center first
    margin-right:auto;
    margin-top: 21px;
    
    position: relative; //Then start moving, neat
    
    bottom:160px;

    background: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block; //In order for this to work, they have to be display: block;
    line-height: 1em;
  }


  #info__tree__vertical--html--l{
    width:5px;
    height:10px;

    margin-left: auto; //Center first
    margin-right:auto;
    
    position: relative; //Then start moving, neat
    
    bottom:160px;
    right: 64px;
   
    
    background: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    line-height: 1em;

  }

  #info__tree__vertical--html--r{
    width:5px;
    height:10px;

    margin-left: auto; //Center first
    margin-right:auto;
    
    position: relative; //Then start moving, neat
    
    bottom:170px;
    left: 64px;
   
    
    background: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    line-height: 1em;

  }

  #info__tree__vertical--mobile{
    height:45px;
    width:5px;

    margin-left: auto; //Center first
    margin-right:auto;
    
    position: relative; //Then start moving, neat
    
    bottom:160%;

    background: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block; //In order for this to work, they have to be display: block;
    line-height: 1em;
  }

  #info__tree__horizontal--l{
    width:29.5%; //59,2% //55.2%
    height:5px;

    margin-left: auto; //Center first
    margin-right:auto;
    
    position: relative; //Then start moving, neat
    
    bottom:34px;
    right: 14.9%;

   
    
    background: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    line-height: 1em;
  }

  #info__tree__horizontal--r{
    width:29.5%; //59,2% //55.2%
    height:5px;

    margin-left: auto; //Center first
    margin-right:auto;
    
    position: relative; //Then start moving, neat
    
    bottom:39px;
    left: 14.9%;
    
    background: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    line-height: 1em;
  }


  #info__tree__horizontal--html{
    width:65%;
    height:5px;

    margin-left: auto; //Center first
    margin-right:auto;
    
    position: relative; //Then start moving, neat
    
    bottom:180px;
   
    
    background: black;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    line-height: 1em;
  }
}

#info__columns{

  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background: $rgb-document--2;
}



#section__info__who{
  height: 100%;
  width: 27%;

  // margin-top: 25%;


  #info__smile{
    width:90px;
    height: 90px;
    position:relative;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    img{
      display:block;
      position:relative;
      border-radius: 50px;
      width: 82px;
      height: 82px;
      top: 5px;
      margin-left: auto;
      margin-right: auto;
      // width:90px;
    }

      #info__smile__dutch{
      position:absolute;

      top: 0%;
      left: 90%;
    }
      #info__smile__english{
      position:absolute;
      font-weight: bold;
      top: 25%;
      right: 105%;
    }
      #info__smile__russian{
      position:absolute;
      font-weight: normal;
      top: 80%;

      left: 105%;
    }

  }
}

#section__info__what{
  height: 100%;
  width: 27%;

  // margin-top: 25%;
  margin-left: 2.5%;
  margin-right: 2.5%;

  #what__imagerow__container{
    width:200px;
    height: 90px;
    position:relative;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #what__imagerow{
    display: flex;
    align-items: center;
    justify-content: center;

    img:last-child{
    height:80px;
    width:80px;
    }


  }
}

#section__info__how{
  height: 100%;
  width: 27%;

  #how__imagerow__container{
    width:200px;
    height: 90px;
    position:relative;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  img{
    display:block;
    // width:90px;
    margin-left: auto;
    margin-right: auto;
  }
}



//!----Media Calls----!
@media all and (max-width: 760px) and (min-width: 0px) {

  #section__info{

      .typo--light{

      }


    img{

      
    }

    h1{
      margin-top: 90px;
    }


      #info__tree__vertical{
      display: none;
    }

      #info__tree__vertical--smile{
      display: none;
    }

    #info__tree__vertical--html{
      display: none;
    }


    #info__tree__vertical--html--l{
      display: none;

    }

    #info__tree__vertical--html--r{
      display: none;

    }

    #info__tree__vertical--mobile{
      display: none;
    }

    #info__tree__horizontal--l{
      display: none;
    }

    #info__tree__horizontal--r{
      display: none;
    }


    #info__tree__horizontal--html{
      display: none;
    }
  }

  #info__columns{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  #section__info__who{
    margin-top: 40px;
    width: 80%;

    #info__smile{


      img{

      }

        #info__smile__dutch{

      }
        #info__smile__english{

      }
        #info__smile__russian{

      }

    }
  }

  #section__info__what{
    margin-top: 40px;
    width: 80%;

    #what__imagerow__container{

    }

    #what__imagerow{


      img:last-child{

      }


    }
  }

  #section__info__how{
    margin-top: 40px;
    width: 80%;

    #how__imagerow__container{

    }

    img{

    }
  }


}