#section__portfolio{
  margin-top: 160px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // display:none;
  
}

#section__portfolio__loadingspinner{
    display:none;
    flex-direction: column;
/*     position: relative; */
    width:57px;
/*     top:30%;
    left:50%;
    margin-right:28.5px; */
    z-index: 1;

    img:first-of-type{
      height: 92px;
    }

    img:last-of-type{
      height: 57px;
    }
  }

#section__portfolio__iframe {
  // -webkit-animation-duration: 3s;
  // -moz-animation-duration: 3s;
  // -ms-animation-duration: 3s;
  // -o-animation-duration: 3s;
  // -webkit-animation-delay: 4s;
  // -moz-animation-delay: 4s;
  // -ms-animation-delay: 4s;
  // -o-animation-delay: 4s;
  // -webkit-animation-iteration-count: infinite;
  // -moz-animation-iteration-count: infinite;
  // -ms-animation-iteration-count: infinite;
  // -o-animation-iteration-count: infinite;
  overflow: hidden;
  scrolling: no;
}


#portfolio__loadhook{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;

  h1{
  margin-bottom: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width:450px;
  margin-left: auto;
  margin-right: auto;

  z-index: 1;
  @include font-size(50px);
  }
}

#portfolio__loadhook__columns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;

  button{
    margin-bottom:20px;
    background-color: $rgb-red--3;
    border-style: solid;
    border-width: 1.5px;
    font-family: "Montserrat-Regular";
    z-index: 1;
    vertical-align: bottom;
    // height:32px;

  }

  button:hover{
    background-color: $rgb-red--light;
    cursor: pointer;
  }
}



#loadhook__columns__1:before, #loadhook__columns__1:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

#loadhook__columns__1:before {
    border-left: 1px solid #EC4242;
    background-color: $rgb-red--3;
    background-size: contain;
    z-index: 1;
    transition: opacity 1s;
}

#loadhook__columns__1:after {
    background-image: url("/../images/portfolio_preview_psd.jpg");
    background-size: contain;
}

#loadhook__columns__1:hover:before {
    @include opacity(0.9);
    transition: all 1s;
}


#loadhook__columns__1{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px ridge;
  border-bottom: 1px groove;
  flex-grow: 1;
  flex-basis: 0;
  order: 3;
  position: relative;


  h1{
    margin-bottom: 30px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top:100px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    color:white;

    z-index: 1;
    @include font-size(45px);
  }


  p{
    margin-bottom:50px;
    @include font-size(12px);
    color: white;
    width:70%;
    z-index: 1;
  }
}


#loadhook__columns__2:before, #loadhook__columns__2:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

#loadhook__columns__2:before {
    border-right: 1px solid #EC4242;
    background-color: $rgb-red--3;
    background-size: contain;
    z-index: 1;
    transition: opacity 1s;
}

#loadhook__columns__2:after {
    background-image: url("/../images/img_logo_small_clear.png");
    background-repeat: no-repeat;
    background-position: center;
}

#loadhook__columns__2:hover:before {
    @include opacity(0.9);
    border-right: none;
    transition: all 1s;
}


#loadhook__columns__2{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px ridge;
  /* border-left: 1px solid $rgb-document; */
  border-bottom: 1px groove;
  flex-grow: 1;
  flex-basis: 0;
  order: 1;
  position:relative;


  h1{
    margin-bottom: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top:100px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    color:white;

    z-index: 1;
    @include font-size(45px);
  }

  p{
    margin-bottom:50px;
    @include font-size(12px);
    color: white;
    width:70%;
    z-index: 1;
  }
}

#loadhook__columns__3:before, #loadhook__columns__3:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

#loadhook__columns__3:before {
    background-color: $rgb-red--3;
    background-size: contain;
    z-index: 1;
    transition: opacity 1s;
}

#loadhook__columns__3:after {
    background-image: url("/../images/portfolio_preview_psd.jpg");
    background-size: contain;
}

#loadhook__columns__3:hover:before {
    @include opacity(0.9);
    transition: all 1s;
}


#loadhook__columns__3{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px ridge;
  border-bottom: 1px groove;
  flex-grow: 1;
  flex-basis: 0;
  order: 2;
  position: relative;


  h1{
    margin-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top:100px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    color:white;

    z-index: 1;
    @include font-size(45px);
  }

  span:first-of-type{
    margin-right: 9px;
  }


  @media all and (max-width: 1546px) and (min-width: 925px) { //small fix to make it break, like the others

    h1{
      justify-content: flex-start;
      width:70%;
      
    }

    span:first-of-type{
      margin-right: 90px;
    }
  }

  p{
    margin-bottom:50px;
    @include font-size(12px);
    color: white;
    width:70%;
    z-index: 1;
  }
}


// !---Media Calls--! \\
@media all and (max-width: 925px) and (min-width: 0px) {

  #loadhook__columns__2:before {
      content: '';
      border-right: none
  }

  #section__portfolio{
    margin-top: 60px;
    // justify-content: flex-start;
    // align-items: flex-start;
    // align-content: flex-start;
  }

  #portfolio__loadhook__columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;

  }

  #loadhook__columns__1{
    flex-basis: auto;
    border-left: none;
/*     border-bottom: none; */
    border-top: 1px solid #EC4242;
  }  

  #loadhook__columns__2{
    flex-basis: auto;
    border-left: none;
    border-bottom: none;
  }

  #loadhook__columns__3{
    flex-basis: auto;
    border-top: 1px solid #EC4242;
    border-left: none;
    border-bottom: none;
  }

  #portfolio__loadhook{
    h1{
    width: initial;
    padding: 5px;
    display: inline-block;
    @include font-size(40px);
    text-align:center;
    }
  }

}


@media all and (max-width: 760px) and (min-width: 0px) {

  #section__portfolio{
    margin-top: 120px;
  }
}

