<div class="contentContainer">

	<div class="heroContainer">
		<div class="heroContainer__splash">
			<div class="heroContainer__headshot" alt="Jazz hands!">
				<img class="heroContainer__logo" src="~assets/images/branding/logo.png" alt="">
			</div>
		</div>

		<h1 class="mb-2 heroContainer__splashTitle ss-headline">Developer with a creative itch.</h1>
		<h2 class="mb-2 heroContainer__splashUnderscore ss-underscore">Javscript apps, websites, artwork</h2>

		<div class= "ss-divider"></div>
	</div>

	<div class="articleContainer--intro">
		<div class="articleContainer">
			<div class="articleContent">
				<p>Hi! I'm Dean.
					<br /> I'm a developer with a passion for neat technology and digital art.
				</p>

				<p>Javascript, Node.JS, and backend systems currently fascinate me the most. Though I also do general frontend work. In my free time I really enjoy sculpting away the hours on my tablet.</p>

				<p>I have added several of my projects below.</p>

				<br />
				<p>Hit the contact button if you want to speak to me and I'll get back to you.</p>
			</div>
		</div>
	</div>


<!-- 	<div class="featuredItem__splash--gibbernaut">
	<img src="~assets/images/projects/gibbernaut_splash.png" alt="">
</div> -->
	<div class="articleContainer articleContainer--wide articleContainer--centerpiece">
		<div class="titleContainer">
			<h1 class="ss-categoryTitle ">Programming projects</h1>
			<!-- <h2 class="ss-underscore">Programming</h2> -->
			<!-- <div class= "ss-divider"></div> -->
		</div>

		<div class="articleContainer--wide featuredItem__container--l">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/swarm_splash.png" alt="">
			</div>
			<div class="articleContent">
				<h1>Swarm-document-agent</h1>
				<br />
				<p>I built a markdown-reader and editor. The reader converts markdown files from the swarm network to HTML and displays it. It is also able to communicate to the editor to edit the post with in WYSIWYG fashion and post to the network.</p>

				<a href="https://github.com/deanvaessen/swarm-document-agent" target="_blank" class="btn-clear"><p class="ss-buttonText">More information</p></a>
			</div>
		</div>


		<div class="articleContainer--wide featuredItem__container--l">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/minoohouse_splash.png" alt="">
			</div>

			<div class="articleContent">
				<h1>Minoohouse</h1>
				<br />
				<p>I built a Wordpress powered front-end for a local hostel. Design not by me.</p>

				<a href="http://www.minoohouse.com" target="_blank" class="btn-clear"><p class="ss-buttonText">Visit website</p></a>
			</div>
		</div>

		<div class="articleContainer--wide featuredItem__container--r">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/gibbernaut_splash.png" alt="">
			</div>

			<div class="articleContent">
				<h1 class="ss-headline">Gibbernaut</h1>
				<br />
				<p>Because of my love for the language, I have a side project going for a learning platform geared towards Russian.</p>

				<a href="http://www.gibbernaut.com" target="_blank" class="btn-clear"><p class="ss-buttonText">Visit website</p></a>
			</div>
		</div>
		<div class="articleContainer--wide featuredItem__container--r">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/github_splash.png" alt="">
			</div>
			<div class="articleContent">
				<h1>Overlay-Magician</h1>
				<br />
				<p>Out of frustration with the current development experience, I started developing a Javascript app to run in the browser geared towards helping front-end developers with pixel-matching by providing an manipulatable overlay in the browser. Including features such as storing images in the local storage cache, resizing images and switching between images.</p>

				<a href="https://github.com/deanvaessen/overlay-magician" target="_blank" class="btn-clear"><p class="ss-buttonText">More information</p></a>
			</div>
		</div>

		<div class="articleContainer--wide featuredItem__container--r">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/github_splash.png" alt="">
			</div>
			<div class="articleContent">
				<h1>Logger-library</h1>
				<br />
				<p>A logger library I built that helped me get better acquainted with Node.JS. Logs to a txt file, a stream, or to the console. Includes a front-end component made in React for operation, troubleshooting, and testing.</p>

				<a href="https://gitlab.com/deanvaessen/log-library" target="_blank" class="btn-clear"><p class="ss-buttonText">More information</p></a>
			</div>
		</div>
	</div>

<!-- 	<div class="articleContainer articleContainer--wide articleContainer--centerpiece">
	<h1 class="ss-categoryTitle">Projects</h1>
	<h2 class="ss-underscore">Artwork</h2>

	<p class="ss-underscore">Hier een aantal losse bolletjes naast elkaar.</p>
</div> -->
</div>
