  //Border radius prefixes
  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }

    // Usage:
      // .box
      //  +border-radius(10px)

  // *Font size px to rem
  @function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }

  @mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
  }

    // Usage:
        // p
        //   +font-size(14px)


  //Breakpoints
  @mixin bp-large {
    @media only screen and (max-width: 60em) {
      @content;
    }
  }

  @mixin bp-medium {
    @media only screen and (max-width: 40em) {
      @content;
    }
  }

  @mixin bp-small {
    @media only screen and (max-width: 30em) {
      @content;
    }
  }

    //Usage:
      // .sidebar
      //   width: 60%
      //   float: left
      //   margin: 0 2% 0 0
      //   +bp-small
      //     width: 100%
      //     float: none
      //     margin: 0


  //Animations
  @mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }

    @-moz-keyframes #{$animation-name} {
      @content;
    }

    @-ms-keyframes #{$animation-name} {
      @content;
    }

    @-o-keyframes #{$animation-name} {
      @content;
    }

    @keyframes #{$animation-name} {
      @content;
    }
  }


  @mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
  }

    //Usage:
      // +keyframes(slide-down)
      //   0%
      //     opacity: 1
      //   90%
      //     opacity: 0

      // .element
      //   width: 100px
      //   height: 100px
      //   background: black
      //   +animation("slide-down 5s 3")


  // Transitions
  @mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }

    // Usage
      // a
      //   color: gray
      //   +transition(color 0.3s ease)
      //   &:hover
      //     color: black


  // Cross-browser opacity
  @mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity = $opacity-ie);
  }

    //IE8

    // Usage
        // .faded-text
        //   +opacity(0.8)


  // Clearfix
  %clearfix {
    *zoom: 1;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

    // Usage
      // .container-with-floated-children
      //   @extend %clearfix

  // Visually hide an element
  %visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }

    // Usage
      // HTML
        // <button class="mobile-navigation-trigger">
        //   <b class="visually-hidden">Open the navigation</b>
        //   <img src="img/mobile-navigation-icon.svg">
        // </button>
      // CSS
        // .visually-hidden
        //   @extend %visuallyhidden

  // Buttons
  @mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }

    // Usage
      // HTML
        //  <a href="#" class="btn btn-green">Green Button</a>
        //  <a href="#" class="btn btn-blue">Blue Button</a>
        //  <a href="#" class="btn btn-yellow">Yellow Button</a>
        //  <a href="#" class="btn btn-red">Red Button</a>
      // CSS
        // .btn {
        //  color:white;
        //  text-decoration:none;
        //  padding:5px 10px;
        //  border-radius:3px;
        //  font-family: 'Poiret One', cursive;
        //  font-size:2em;
        // }

        // .btn-green {
        //    @include button-bg(#2ecc71);
        // }

        // .btn-blue {
        //    @include button-bg(#3498db);
        // }

        // .btn-yellow{
        //    @include button-bg(#f1c40f);
        // }

        // .btn-red {
        //    @include button-bg(#e74c3c);
        // }
