<div class="contentContainer">

	<div class="heroContainer">
		<div class="heroContainer__splash">
			<div class="heroContainer__headshot" alt="Jazz hands!">
				<img class="heroContainer__logo" src="~assets/images/branding/logo.png" alt="">
			</div>
		</div>

		<h1 class="mb-2 heroContainer__splashTitle ss-headline">Developer with a creative itch.</h1>
		<h2 class="mb-2 heroContainer__splashUnderscore ss-underscore">Javascript apps, websites, artwork</h2>

		<div class="ss-divider"></div>
	</div>

	<div class="articleContainer--intro">
		<div class="articleContainer">
			<div class="articleContent">
				<p>Hi!
					<br />I'm Dean, a developer with a passion for neat technology.
				</p>

				<p>As an enthusiast of Node.JS I've worked with several back- and front-end technologies that go well with it such as React, and Neo4j.</p>

				<p>Beyond my Javascript work, I'm also enthusiastic about game development and am working on a strategy title.</p>

				<br />
				<p>Hit the mail button if you want to speak to me and I'll get back to you.</p>
			</div>
		</div>
	</div>


	<!-- 	<div class="featuredItem__splash--gibbernaut">
	<img src="~assets/images/projects/gibbernaut_splash.png" alt="">
</div> -->
	<div class="articleContainer articleContainer--wide articleContainer--centerpiece">
		<div class="titleContainer">
			<h1 class="ss-categoryTitle ">Programming projects</h1>
			<!-- <h2 class="ss-underscore">Programming</h2> -->
			<!-- <div class= "ss-divider"></div> -->
		</div>

		<div class="articleContainer--wide featuredItem__container--l">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/outwardbound_splash_01.png" alt="">
			</div>

			<div class="articleContent">
				<h1>Outward Bound</h1>
				<br />
				<p>A PC strategy game set on Mars that I am crafting.</p>

				<a href="http://www.outwardbound.io" target="_blank" class="btn-clear">
					<p class="ss-buttonText">Dev blog</p>
				</a>
			</div>
		</div>


		<div class="articleContainer--wide featuredItem__container--l">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/swarm_splash.png" alt="">
			</div>
			<div class="articleContent">
				<h1>Swarm-document-agent</h1>
				<br />
				<p>A markdown reader and editor for the Ethereum project.
					<br />
					<br /> The reader converts markdown files from the swarm network to HTML and displays it, while the editor provides for modification
					of the post in WYSIWYG fashion and deliver it back to the network for storage.</p>

				<a href="https://github.com/deanvaessen/swarm-document-agent" target="_blank" class="btn-clear">
					<p class="ss-buttonText">More information</p>
				</a>
			</div>
		</div>

		<div class="articleContainer--wide featuredItem__container--r">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/websockets_game_splash.png" alt="">
			</div>

			<div class="articleContent">
				<h1 class="ss-headline">Word game</h1>
				<br />
				<p>An experiment for a word conjugation game.

					<br />
					<br /> It served as a proof of concept for a larger language app, featuring a React front-end built on Websockets and Node.js,
					allowing for multiple simultaneous sessions that are broken up into rooms. The server also provides/manages game selection,
					declares winners, and so forth.

					<br />
					<br /> To play a match, open two browser windows and connect both to the page.</p>

				<a href="http://www.wordgame.deanvaessen.com" target="_blank" class="btn-clear">
					<p class="ss-buttonText">Try demo</p>
				</a>
				<a href="https://github.com/deanvaessen/websockets-game-server" target="_blank" class="btn-clear">
					<p class="ss-buttonText">Repo</p>
				</a>
			</div>
		</div>

		<div class="articleContainer--wide featuredItem__container--r">
			<div class="featuredItem__splash">
				<img src="~assets/images/projects/gibbernaut_splash.png" alt="">
			</div>

			<div class="articleContent">
				<h1 class="ss-headline">Gibbernaut</h1>
				<br />
				<p>An older side project, that was geared towards Russian learning and came out of my love for the language.</p>
				<br />
				<a href="http://www.gibbernaut.com/" target="_blank" class="btn-clear">
					<p class="ss-buttonText">Visit</p>
				</a>
			</div>
		</div>
	</div>

	<!-- 	<div class="articleContainer articleContainer--wide articleContainer--centerpiece">
	<h1 class="ss-categoryTitle">Projects</h1>
	<h2 class="ss-underscore">Artwork</h2>

	<p class="ss-underscore">Hier een aantal losse bolletjes naast elkaar.</p>
</div> -->
</div>