<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
		<router-link class="navbar-brand" to="/">
			<img alt="Brand" src="~assets/images/branding/logo.png" height="20">
		</router-link>
	<ul class="navbar-nav">
		<!-- <router-link class="nav-item" tag="li" to="/" exact>
			<a class="nav-link"><i class="fa fa-home"></i> Home</a>
			CV
		</router-link> -->
		<p class="nav-link">Dean Vaessen</p>
		<a class="nav-link" href="https://www.deanvaessen/cv.doc" targer="_blank"><i class="fa fa-id-card-o"></i> CV</a>
		<a class="nav-link" href="mailto:hello@deanvaessen.com" targer="_blank"><i class="fa fa-envelope"></i> Mail me</a>
		<a class="nav-link" href="https://github.com/deanvaessen" targer="_blank"><i class="fa fa-github"></i> Github</a>
		<a class="nav-link" href="https://twitter.com/deanvaessen" targer="_blank" ><i class="fa fa-twitter"></i> Twitter</a>
<!-- 		<router-link class="nav-item" tag="li" to="/posts" exact>
	<a class="nav-link"><i class="fa fa-file-text-o"></i> Posts</a>
</router-link> -->
	</ul>
</nav>
